h1{
	font-family: 'Georgia', serif;
	font-size: 40px;
}
.jumbotron-fluid{
	background-color: #4281A4;
	color: lightgray;
}
.caption{
	color: lightgray;
}
p.block.description-block span {
	font-style: italic;
}
p.figure-caption{
	font-family: 'Georgia', sans-serif;
	color: darkslategrey;
	font-size: 20px;
	font-style: italic;
	text-indent: none;
}
img{
	padding: 30px;
	border: 5px;
	border-style: solid;
	border-color: black;
}
p{
	font-family: 'Georgia', sans-serif;
	font-size: 22px;
	padding-left: 50px;
	padding-right: 50px;
}
h1{
	text-align: center;
}

h2{
	font-family: 'georgia', sans-serif;
	text-indent: 60px;
	padding:  20px;
}
h4{
	font-family: 'georgia', sans-serif;
}

.btn{
	background-color: #4281A4;
	color:  lightgray;
}
.fixed-bottom{
	background-color:#4281A4;
	color: lightgray;
	font-family: 'georgia', sans-serif;
	text-align: center;
	font-size: 17px;
}

.last{
	padding-bottom: 30px;
}

body{
	background-color: #E4DFDA;
}